body{
  font-family: roboto, arial;
}
.announcement-1, .announcement-2, .announcement-3, .announcement-4, .announcement-5{
  padding: 8px 8px;
}

.announcements{
  background:rgb(216, 216, 216);
  border-radius:16px;
  padding: 12px;
}
h2{
  margin:0;
}
.date{
  font-size:14px;
}
.description-1, .description-2, .description-3, .description-4, .description-5{
  display: none;
}
