p{
  margin-top: 0;
  margin-bottom: 0;
}
/* Remove underline from all links */
a{
  text-decoration: none;
}
html, body { 
  margin: 0;
  padding: 0;
  margin: 0;
  background-color: rgb(248, 248, 248);
  font-family: roboto, arial;
}
body{
  display: flex;
}