.header{
  height: 76px;
  padding-left: 46px;
  display: flex;
  background-image: linear-gradient(to left, #98eff1, #1f75a4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
@media(max-width:767px){
  .header{
    padding-left:12px;
    flex-direction: column;
    display: none;
  }
}
.logo-section{
  flex: 1;
  height: 100%;
}
@media(max-width:767px){
  .logo-section{
    width: 100%;
    height: 50px;
  }
}
.logo-image{
  height: 100%;
  cursor: pointer;
}
.menu-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.home, .contacts{
  background-color: transparent;
  border: none;
  margin: 15px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  color: orangered;
}
.about{
    font-size: 12px;
    border-radius: 20px;
    border: none;
    margin: 15px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 550;
    color: rgb(228, 223, 223);
    background-color: #ee5d8c;
    cursor: pointer;
    transition: opacity .15s;
}

.about:hover{
  opacity: .7;
}
.about:active{
  opacity: .5
}