.content{
  height: 100%;
  flex: 1;
  /*background-color: lightgreen;*/
  align-items: center;
  padding: 76px 40px 0 100px;
  
  background-image: linear-gradient(to bottom right, #1f75a4, #98eff1);
  
}
@media(max-width:767px){
  .content{
    padding: 90px 10px 0 10px;
    
  }
}
.books-container{
  padding: 40px 0;
}
@media(max-width:767px){
  .books-container{
    padding: 5px;
  }
}
.subject-name{
  font-size: 30px;
  color: white;
  font-weight: 500;
}
@media(max-width:767px){
  .subject-name{
    font-size: 16px;
  }
}
.books-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  padding: 10px 0;
}
@media(max-width:767px){
  .books-grid{
    height: 30vh;
    overflow-y: hidden;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: pink;
    padding: 10px 5px;
    border-radius: 5px;
    z-index: 99999;
  }
}

.book-content{
  /*background-color: lightblue;*/
  text-align: center;
}
.thumbnail-container{
  flex: 1;
  width: 100%;
  
}
.thumbnail{
  height: 400px;
  width: 100%;
  border-radius: 5px;
}
@media(max-width:767px){
  .thumbnail{
    height: 25vh;
    background-color: #ee5d8c;
  }
}
.download-button{
  margin: 5px 0;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-weight: 550;
  color: rgb(228, 223, 223);
  background-color: #ee5d8c;
  cursor: pointer;
  transition: box-shadow .15s;
  width: 98%;
  transition: opacity .15s;
}
@media(max-width:767px){
  .download-button{
    font-size: 12px;
    padding: 5px;
  }
}
.download-button:hover{
  opacity: .7;
}
.download-button:active{
  opacity: .5
}

.more-icon-container{
  width:100%;
  display: none;
  text-align: center;
  padding: 5px 0;
}
@media(max-width:767px){
  .more-icon-container{
    display: block;
    margin: -10px 0 0 0;
    display: none;
  }
}
@media(max-width:767px){
  .more-icon{
    width: 32px;
    height: 32px;
  }
}

/*NB: This shows the dropdown icon for subjects that have more than 4 books*/
@media(max-width:767px){
  #moreLifeSciences{
    display: block;
  }
  #moreMathematics{
    display: block;
  }
}