.content{
  display: flex;
  padding: 76px 40px 0 100px;
  justify-content: center;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  white-space: nowrap;
}
.select-container{
  display: none;
}
@media(max-width:767px){
     .content{
    padding: 100px 10px;
    flex-direction: column;
    align-items: center;
  }

  .select-container{
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 550;
    height: 50px;
    background-color: #ee5d8c;
    
    border-radius: 10px;
    border: solid;
    padding-left: 5px;
    border-color: #af2e57;
  }
  .select-box{
    border: none;
    appearance: none;
    padding: 3px 40px 3px 5px;
    color: white;
    background-color: #ee5d8c;
    font-size: 25px;
    font-weight: 700;
  }
  .select-container .icon-container{
    width: 17%;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #af2e57;
  }
  .icon-container{
    font-size: 20px;
    color: white;

  }
  .select-icon{
    width: 50%;
    height: 50%;
  }
}

.section-12{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 60px 0;
}
@media(max-width:767px){
  .section-12{
    display: none;
    margin: 0;
    flex: 1;
  }
}

.section-11{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 60px 0;
}
@media(max-width:767px){
  .section-11{
    display: none;
    margin: 0;
    flex: 1;
  }
}
.section-10{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 60px 0;
}
@media(max-width:767px){
  .section-10{
    display: none;
    margin: 0;
    flex: 1;
  }
}
.grade-12-title, .grade-11-title, .grade-10-title{
  border-radius: 12px 12px 0 0;
  font-size: 25px;
  font-weight: 700;
  color: orange;
  text-align: center;
}
.grade-11-title{
  color: lightseagreen;
}
.grade-10-title{
  color: green;
}
.paper-container{
  display: flex;
  margin: 10px;
}
@media(max-width:767px){
  .paper-container{
    display: flex;
    margin: 5px;
  }
}

.paper-12, .paper-11, .paper-10{
  flex: 1;
  display: flex;
  border: solid 1px orange;
  border-radius: 12px 0 0 12px;
  padding: 5px 10px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}
.paper-11{
  border: solid 1px lightseagreen;
}
.paper-10{
  border: solid 1px green;
}
.download-button-paper-1-12, .download-button-paper-1-11, .download-button-paper-1-10{
  background-color: orange;
  width: 50px;
  height: 30px;
  border: solid 1px orange;
  border-radius: 0 12px 12px 0;
  transition: opacity .15s;
}

.download-button-paper-1-11{
  background-color: lightseagreen;
  border: solid 1px lightseagreen;
}
.download-button-paper-1-10{
  background-color: green;
  border: solid 1px green;
}
.download-button-paper-2-12, .download-button-paper-2-11, .download-button-paper-2-10{
  border: solid 1px orange;
  background-color: orange;
  border-radius: 0 12px 12px 0;
  transition: opacity .15s;
}
.download-button-paper-2-11{
  border: solid 1px lightseagreen;
  background-color: lightseagreen;
  border-radius: 0 12px 12px 0;
}
.download-button-paper-2-10{
  border: solid 1px green;
  background-color: green;
}
.download-icon{
  width: 100%;
  height: 100%;
}
.download-question-paper{
  white-space: nowrap;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  margin-bottom: -1px;
  color: white;
  padding:3px 7px;
  font-size: 12px;
}
.download-memo{
  white-space: nowrap;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-top: solid 1px white;
  margin-top: -1px;
  color: white;
  padding:3px 7px;
  font-size: 12px;
}
.download-button-paper-1-12:hover, .download-button-paper-1-11:hover, .download-button-paper-1-10:hover, .download-button-paper-2-12:hover, .download-button-paper-2-11:hover, .download-button-paper-2-10:hover{
  opacity: 0.7;
}
.download-button-paper-1-12:active, .download-button-paper-1-11:active, .download-button-paper-1-10:active, .download-button-paper-2-12:active, .download-button-paper-2-11:active, .download-button-paper-2-10:active{
  opacity: 0.5;
}